/* 
    
    Created on : 27/08/2016, 20:22:28
    Author     : Gleyton Lima
*/
/*
    3. Ajustar corres do formulario de novo pedido.

.modal-header, h4, .close{
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
}
.modal-footer {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
    background-color: #e5e5e5;
}
*/
